Display-Weather-Temp-LCD.json
[{"id":"9043ab69.c61df","type":"wiotp in","z":"b9a8a945.f4a0a","authType":"d","deviceKey":"f42a65b4.7b634","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Weather Report from Watson IoT","x":140,"y":380,"wires":[["77b40bc1.208194","2e85b12f.7cffce"]]},{"id":"15cd2ea3.79ebd9","type":"upm-grove-rgb-lcd","z":"b9a8a945.f4a0a","name":"Display Weather Conditions on LCD","platform":"512","r":0,"g":0,"b":255,"row":0,"column":0,"x":550,"y":500,"wires":[]},{"id":"77b40bc1.208194","type":"debug","z":"b9a8a945.f4a0a","name":"","active":true,"console":"false","complete":"false","x":470,"y":380,"wires":[]},{"id":"2e85b12f.7cffce","type":"function","z":"b9a8a945.f4a0a","name":"Format Weather Report","func":"return { payload:'Ridgewood Temp: '+msg.payload.d.temp+'*F'};\n","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["15cd2ea3.79ebd9"]]},{"id":"f42a65b4.7b634","type":"wiotp-credentials","z":"b9a8a945.f4a0a","name":"","org":"yourorg","devType":"intel-nuc-device","devId":"yourdevid"}]