Intel-NUC-Temp-Watson-IoT.json
[{"id":"2d552b5f.b54514","type":"function","z":"15a26421.b54d04","name":"Display Temperature","func":"return { payload:'Temp: '+msg.payload+'*F'};","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["efb0e75c.c846c8"]]},{"id":"fa188f11.ab7648","type":"upm-grove-temperature","z":"15a26421.b54d04","name":"","platform":"512","unit":"F","pin":"0","interval":"5000","x":123,"y":221,"wires":[["2d552b5f.b54514","4a5fe0a2.8fa378","d8651f78.05844","81ee473d.570e7"]]},{"id":"4a5fe0a2.8fa378","type":"debug","z":"15a26421.b54d04","name":"Temperature Reading debug","active":true,"console":"false","complete":"payload","x":400,"y":300,"wires":[]},{"id":"4d731a5d.307504","type":"wiotp out","z":"15a26421.b54d04","authType":"d","qs":"true","qsDeviceId":"d38ddac7ba27","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"Watson IoT Quickstart","x":820,"y":380,"wires":[]},{"id":"cf8f2cb8.8e1d5","type":"wiotp out","z":"15a26421.b54d04","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"334b5693.c76aca","deviceType":"","deviceId":"","event":"event","format":"json","name":"Watson IoT Registered Device","x":850,"y":460,"wires":[]},{"id":"81ee473d.570e7","type":"function","z":"15a26421.b54d04","name":"Construct IoT MQTT Payload","func":"return {\n     payload: {\n            d: {\n                temp: msg.payload\n            }\n     }\n};","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["1bbe1d01.0caec3"]]},{"id":"efb0e75c.c846c8","type":"upm-grove-rgb-lcd","z":"15a26421.b54d04","name":"","platform":"512","r":0,"g":0,"b":255,"row":0,"column":0,"x":640,"y":120,"wires":[]},{"id":"d8651f78.05844","type":"switch","z":"15a26421.b54d04","name":"Turn on Light if Temp > 80F","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"136","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":400,"y":220,"wires":[["5cc72918.574888"],["d9deb575.79b7f"]]},{"id":"8916b5ce.3f8678","type":"upm-grove-led","z":"15a26421.b54d04","name":"","platform":"512","mode":"output","pin":"2","interval":1000,"x":850,"y":180,"wires":[]},{"id":"5cc72918.574888","type":"function","z":"15a26421.b54d04","name":"Turn LED on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["aab7aaaa.936a98","8916b5ce.3f8678"]]},{"id":"aab7aaaa.936a98","type":"debug","z":"15a26421.b54d04","name":"LED state","active":true,"console":"false","complete":"payload","x":840,"y":260,"wires":[]},{"id":"d9deb575.79b7f","type":"function","z":"15a26421.b54d04","name":"Turn LED off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["aab7aaaa.936a98","8916b5ce.3f8678"]]},{"id":"1bbe1d01.0caec3","type":"json","z":"15a26421.b54d04","name":"","x":610,"y":380,"wires":[["4d731a5d.307504","cf8f2cb8.8e1d5"]]},{"id":"334b5693.c76aca","type":"wiotp-credentials","z":"15a26421.b54d04","name":"","org":"your-org","devType":"intel-nuc-device","devId":"yourdeviceID"}]