Send-Weather-Temp-NUC.json
[{"id":"d2a6faf3.28b4e8","type":"inject","z":"4a78e1cf.97f168","name":"Query Weather every 5 min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"x":160,"y":80,"wires":[["25e822a.6ccf85e"]]},{"id":"25e822a.6ccf85e","type":"weather_insights","z":"4a78e1cf.97f168","name":"Get Current Weather","service":"/observations.json","geocode":"40.9793,-74.1165","units":"e","language":"en-US","x":160,"y":160,"wires":[["23d3af66.18a25","1b94fffd.0330d","546be47b.cf85d4"]]},{"id":"b98154f1.ae1f1","type":"ibmiot out","z":"4a78e1cf.97f168","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"jaw-nuc","deviceType":"intel-nuc-device","eventCommandType":"temp","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":820,"y":100,"wires":[]},{"id":"546be47b.cf85d4","type":"debug","z":"4a78e1cf.97f168","name":"","active":false,"console":"false","complete":"observation","x":450,"y":220,"wires":[]},{"id":"23d3af66.18a25","type":"function","z":"4a78e1cf.97f168","name":"Construct IoT MQTT payload","func":"return {\n     payload: {\n            d: {\n                temp: msg.observation.temp\n            }\n     }\n};","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["bfc727a3.4dab8"]]},{"id":"1b94fffd.0330d","type":"function","z":"4a78e1cf.97f168","name":"Temp in Ridgewood","func":"return { payload:'Ridgewood Temp: '+msg.observation.temp+'*F'};","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["aa063cbd.6dde5"]]},{"id":"aa063cbd.6dde5","type":"debug","z":"4a78e1cf.97f168","name":"","active":true,"console":"false","complete":"false","x":790,"y":160,"wires":[]},{"id":"bfc727a3.4dab8","type":"json","z":"4a78e1cf.97f168","name":"","x":670,"y":100,"wires":[["b98154f1.ae1f1","aa063cbd.6dde5"]]}]