Watson-IoT-Temp-Data-from-NUC.json
[{"id":"7344a6e3.b1a9f","type":"ibmiot in","z":"64f0e8f5.e25508","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"d38ddac7ba27","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":220,"wires":[["72058404.0352dc","c8053e23.6e37a8","6f122a69.cd1ccc"]]},{"id":"72058404.0352dc","type":"function","z":"64f0e8f5.e25508","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["6e0f1170.60d378"]]},{"id":"6e0f1170.60d378","type":"switch","z":"64f0e8f5.e25508","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"39","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":450,"y":220,"wires":[["513f1d9d.1f67e4"],["9746cadb.07948"]]},{"id":"fba824f7.4e0b48","type":"debug","z":"64f0e8f5.e25508","name":"cpu status","active":true,"complete":"false","x":790,"y":220,"wires":[]},{"id":"c8053e23.6e37a8","type":"debug","z":"64f0e8f5.e25508","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":300,"wires":[]},{"id":"513f1d9d.1f67e4","type":"template","z":"64f0e8f5.e25508","name":"safe.......","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":620,"y":200,"wires":[["fba824f7.4e0b48"]]},{"id":"9746cadb.07948","type":"template","z":"64f0e8f5.e25508","name":"danger","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":620,"y":240,"wires":[["fba824f7.4e0b48"]]},{"id":"8aec316f.c70e08","type":"delay","z":"64f0e8f5.e25508","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"minutes","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":320,"wires":[["b0780eab.95dc1","b22400b9.f588f8"]]},{"id":"b0780eab.95dc1","type":"twitter out","z":"64f0e8f5.e25508","twitter":"","name":"Tweet","x":870,"y":300,"wires":[]},{"id":"6f122a69.cd1ccc","type":"delay","z":"64f0e8f5.e25508","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":140,"wires":[["110eb7e5.bdba"]]},{"id":"110eb7e5.bdba","type":"function","z":"64f0e8f5.e25508","name":"Format DB record","func":"return {\n    payload: {\n        time: new Date().getTime(),\n        temp: msg.payload.d.temp\n    }\n};","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["ceed75b1.6b66f8"]]},{"id":"ceed75b1.6b66f8","type":"cloudant out","z":"64f0e8f5.e25508","name":"","cloudant":"","database":"intel-gateway-temperature-readings","service":"your-intel-iot-gateway-cloudantNoSQLDB","payonly":true,"operation":"insert","x":790,"y":140,"wires":[]},{"id":"b22400b9.f588f8","type":"twilio out","z":"64f0e8f5.e25508","service":"","from":"","number":"","name":"","x":870,"y":340,"wires":[]},{"id":"6a05efd4.c28ef8","type":"http in","z":"64f0e8f5.e25508","name":"","url":"/api/reading","method":"get","swaggerDoc":"","x":160,"y":408,"wires":[["e9e4c8c8.6f92e"]]},{"id":"e9e4c8c8.6f92e","type":"cloudant in","z":"64f0e8f5.e25508","name":"","cloudant":"","database":"intel-gateway-temperature-readings","service":"your-intel-iot-gateway-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":438,"y":408,"wires":[["683d1665.8c201"]]},{"id":"683d1665.8c201","type":"http response","z":"64f0e8f5.e25508","name":"","x":690,"y":408,"wires":[]}]